.env
__pycache__/
*.pyc
app/uploads/
node_modules/
frontend/dist/
.vscode/
.envmy api key
openai_key.txt

.env
my api key
node_modules/
frontend/node_modules/
__pycache__/
*.pyc
app/uploads/
frontend/dist/